

        .body-initial {background-color: white; 
        }
        .silex-id-1493737499076-0 {top: 100px; left: 100px; height: 180px; width: 260px;
        }
        .silex-id-1493737499076-0 > .CTATTable--row > .CTATTable--cell {width: 41.3333px; height: 43px;
        }
        .silex-id-1493737587260-1 {top: 220px; left: 40px; height: 60px; width: 40px; text-align: center; font-weight: bold; font-size: 32px;
        }
        .background-initial {background-color: white; top: 5px; left: 154px; width: 660px; height: 534px; border: solid; border-width: 1px; border-color: #cccccc;
        }
        .silex-id-1493737499076-0 > div > div > textarea {text-align: center; font-size: 28px;
        }
        .silex-id-1493737749118-2 {top: 377px; left: 17px; height: 140px; width: 265px; box-sizing: content-box; padding: 0px; overflow: visible; background-color: rgb(253, 253, 253);
        }
        .silex-id-1493737827446-3 {top: 378px; left: 290px; height: 140px; width: 353px;
        }
    